# .github/workflows/main.yml
name: Call Reusable Workflow

on:
  push:
    branches:
      - main

jobs:
  call-reusable:
    uses: sai6993/reusable-action-repo/.github/workflows/reusable.yml@main  
    with:
      username: "Sai Venkat"
